body {
  /* text-align: center; */
}

.App {
  width: 70%;
  font-family: sans-serif;
  color: white;
  margin: 10px auto;
  background-color: #404040;
  text-align: center;
}

.logo-button {
  margin: 50px auto 0;
  font-size: 1.5rem;
  font-weight: 400;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 100%;
  color: black;
}

.heading1 {
  font-weight: 400;
}

input {
  /* border: 1px solid rgba(252, 252, 252, 0.4); */
  border: none;
  background-color: black;
  width: 250px;
  /* border-radius: 3px; */
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  /* text-align: center; */
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.remember {
  width: 10px;
  height: 10px;
  /* margin-left: 358px; */
  position: absolute;
  text-align: center;
  padding: 0;
  margin: 10px 0 0 358px;
}

.para1 {
  position: relative;
  left: 20px;
  margin-top: 18px;
}

div p {
  width: 20%;
  font-size: 0.75rem;
  text-align: left;
  margin-left: 360px;
  /* padding-left: 10px; */
}

button {
  /* outline: 0; */
  background-color: #202020;
  padding: 10px 0;
  color: white;
  border: none;
  width: 286px;
  font-size: 0.75rem;
  margin: 10px auto 0;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
}

.pswd-forgot {
  width: 286px;
  text-align: center;
  padding-bottom: 30px;
  /* border-bottom: 10px; */
}
